<% include ./partials/header.ejs %>
<div style="padding: 10; padding-bottom: 0;">
    <div class="form-group">
        <input style="margin-top:2" type="number" placeholder="Number of questions" class="form-control" id="number">
        <input type="text" placeholder="Name of Quiz" class="form-control" id="name">
        <textarea style="margin-top:2" placeholder="Quiz Description" class="form-control" id="quizDesc"></textarea>
    </div>
</div>
<form id="addQuizForm" method="POST" action="/quiz/add">
    <input hidden id="numberOfQuestions" type="text" name="number">
    <input hidden id="nameOfQuiz" type="text" name="name">
    <textarea hidden placeholder="Quiz Description" class="form-control" id="quizDescription" name="description"></textarea>
    <div id="container">
    </div>
</form>

</div>
</body>
<script src="/insertquestion.js"></script>

</htmL>