<% include ./partials/header.ejs %>

<div style="padding: 10;">
    <% quizes.forEach((quiz,index) => {%>
    <% if(index%2 === 0) {%>
    <div class="row">
            <div class="col-sm-1"></div>
        <%}%>
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%=quiz.name %></h5>
                            <p class="card-text"><%=quiz.description%>
                                <br>
                                ~ <%=quiz.username%>
                            </p>
                            <% if(typeof req.user !== 'undefined' && quiz.username === req.user.username) { %>
                                <button class="btn btn-disabled">You Uploaded the quiz</button>
                            <% } else { %>
                                <a href="/quiz/<%=quiz.quizId%>" class="btn btn-primary">Challenge Me!</a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% if(index%2 !== 0) {%>
    </div><br />
    <%}%>
                <%}); %>
</div>


<% include ./partials/footer.ejs %>