<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َLogin</title>
    <link rel="stylesheet" href="/loginAndRegisterStyle.css">
  </head>
  <body>

    <div class="box"> 

      <form  action="/auth/login" method="POST">
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Username" required autocomplete="off">
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="LOGIN" value="Login">
      </form>
      <a style="text-decoration: none;" href="/auth/register"><button>GOTO REGISTER</button></a>
    </div>


  </body>
</html>
