<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="/loginAndRegisterStyle.css">
  </head>
  <body>

<form class="box" action="/auth/register" method="POST">
  <h2>Register</h2>
  <input required type="text" name="name" placeholder="Name">
  <input required type="text" name="username" placeholder="Username" autocomplete="off">
  <input required type="email" name="email" placeholder="Email">
  <input required type="password" name="password" placeholder="Password">
  <input required type="password" name="confirmPassword" placeholder="Confirm Password">
  <input type="submit" value="Register" value="Login">
</form>


  </body>
</html>
